/*Global*/
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    html{background-color: #4236363f; 
         text-align: justify;}
    
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; 
    }

    p { 
        margin-bottom:10px; 
        margin-left:10px;
    }
    
    ul { margin-left: 40px; }

    td, th {
        padding: 2px 10px;
    }
   

/*Header*/
    header {
        display: flex;
        align-items: center; 
        background-color: rgb(80, 81, 81);
        height: 100px;
        border-bottom: 3px solid #625a5a;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    }

    header .logo {
        margin-left: 10px;
        margin-top: 10px;
        height: 80px;    
    }

    .titulos {
        display: flex;
        flex-direction: column;
        margin-left:auto;
        margin-right: 20px;
        color: white;
    }

    .titulo-header {
        margin-left: 30px;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .titulo-header2 {
        margin-right: 10px;
        font-size: 1rem;
        font-style: italic;
    }

/*Main*/
    main{ 
        flex: 1; 
        max-width: 1200px;
        margin: 0 auto;    
        padding: 20px;     
        line-height: 1.6;  
    }

    h1 { text-align: center; margin-top: 25px;}
    .formulario h2 { text-decoration: underline;}

    .imgKiwoko{
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 100%;
        max-height: 300px;
        width: auto;
        height: auto; 
        border-radius: 80px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.4); 
    }

    .celda{ vertical-align: top; }

    .linkWeb{ 
        margin-left: 10px;
        color: rgb(193, 96, 96);
     }

    .seccion {margin-top: 30px;}

    .tablaAdopciones th{ border-bottom: 1px solid #625a5a;}

    .tablaAdopciones{ 
        margin-left: 20px;  
        border: 1px solid #656565;
        background-color: rgb(215, 198, 198);
    }

    .textoAdopta{
        margin: 20px;
    }

    .form-group {
        width: 250px;
        display: flex;
        flex-direction: column;
        margin-top:10px;
    }

    .form-group > input, textarea {
        padding: 8px;
        border: 2px solid black;
        border-radius: 5px;
    }

    .form-group > button {
        height: 2rem;
        background-color: rgb(57, 54, 62);
        color: white;
        transform: translate(0,0) rotate(0deg);
        transition: transform .05s, box-shadow .05s, filter .1s;
    }

    .form-group > button:hover{
        filter: brightness(1.05);
    }

    .form-group > button:active{
        box-shadow: inset 0 4px 8px rgba(0,0,0,.45); 
    }
 
    section.formulario {
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
    }

/*Footer*/

    footer{
        position: relative;
        background-color: rgb(80, 81, 81);
        height: 70px;
        border-bottom: 3px solid #625a5a;
        box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.4);   
    }

    footer p{
        margin-top:10px;
        color: white;
    }